.container {
    margin-top: 10px;
    font-family: "Rowdies", sans-serif;
}
.container  form{
    margin-bottom: 20px;
    font-family: "Rowdies", sans-serif;
}
.container button{
    font-family: "Rowdies", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: #fff;
}
.container button:hover{
    background-color: #c5c5c5;
}
.container input{
    height: 35px;
    font-family: "Rowdies", sans-serif;
    font-size: 20px;
    box-sizing: content-box;
    border-radius: 10px;
    background-color: #fff;
    
}

.container label{
    font-family: "Rowdies", sans-serif;
    font-size: 22px;
}
@media (max-width: 768px) {
    .container input, 
    .container button {
      width: 90%;
      margin: 10px 0;
    }
  }